:root {
  --border-radius-500: 8px;
  --color-on-background: #ffffff;
  --fonts-primary: Karla, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  background-color: #2a385c;
  background-image: linear-gradient(320deg, hsl(215, 10%, 12%) 0% /* down */, hsl(215, 19%, 24%) /* up */ 100%);
  font-family: var(--fonts-primary);
  font-size: 14px;
  margin: 0;
  min-height: 100vh;
}
h3 {
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}





.layout__wrapper {
  background-image: linear-gradient(0deg, hsl(215, 14%, 16%) 0%, hsl(215, 19%, 29%) 100%);
  border-radius: 3px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, .25);
  margin: 3rem auto;
  max-width: 370px;
}

.hafta {
  height: 300px;
  width: 200px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 3%;
}

.card {
  font-size: 12px;
  border-color: black;
  background-color:white;
  padding: 5px;
  border-radius: 5px;
  margin: 3%;
  width: 14%;
  float: left;
    padding: 20px;
    border: 2px solid red;
}
.tablo {
  font-size: 12px;
  margin-right: 0px;
  margin-top: 15px;
  background-color:white;
  padding: 10px;
  border-radius: 5px;
  width: 14%;
  float: left;
    padding: 10px;
    border: 2px solid black;
}

.header {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.ders-container {
  
  text-align: left;
  padding: 2px;
  border-color: black;
  border-style: inset;
  background-color:white;
  
}
.saat {
  text-align: left;
  padding: 2px;
  border-color: black;
  border-style: inset;
  background-color:white;
  
}
.tablo-saat {
  font-size: 12px;
  margin-right: 0px;
  margin-top: 15px;
  background-color:white;
  padding: 10px;
  border-radius: 5px;
  width: 7%;
  float: left;
    padding: 10px;
    border: 2px solid black;
}

.ders-bos {
  text-align: center;
  padding: 2px;
  background-color:white;
  border-style: inset;
  border-color: black;

}

.items-container {
  text-align: center;
}

.item-container {
  padding: 2px;
  border-bottom: 1px solid grey
}

